<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Event Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h1>Welcome to the College Event Management System</h1>
        <div class="buttons">
            <a href="{{ url_for('admin_login') }}" class="btn">Admin Login</a>
            <a href="{{ url_for('user_login') }}" class="btn">User Login</a>
        </div>
    </div>
</body>
</html>